.form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.input {
  padding: 8px 16px;
  color: #808080;
  font-weight: inherit;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition:
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover {
  border-color: #000;
}

.input:focus {
  border-color: #4e75ff;
  color: #2e2f42;
}

.btn {
  padding: 8px 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #6c8cff;
}

.loader-wrap {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 32px 0;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
}

.image {
  height: 152px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.info-list {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  text-align: center;
}

.info-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.load-more-btn {
  display: block;
  margin: 32px auto;
  padding: 8px 16px;
}

.is-hidden {
  display: none;
}
